<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="JANoodle" content="an app for scheduling events">
  <meta name="author" content="Jeff Tang, Abraham Prince, Noah Birenbaum">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">


  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- FONT -->
  <link href="https://fonts.googleapis.com/css?family=Song+Myung" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>JANoodle!</title>
</head>

<body>
  <h1 id='welcome'>Welcome to JANoodle!</h1>
  <p class='desc-text'>Scheduling events made easy.</p>


  <span>
    <form action="/create" method="POST">
      <input id='eventName' placeholder='What are you planning?' name="eventTitle"></input>
      <button type="submit" id="poll" >Create JANoodle poll!</button>
    </form>
    <img class='screenshot' src=http://www.retailhabitatsdesign.com/wp-content/uploads/2017/05/Test-Computer-Key-by-Stuart-Miles.jpg></img>

    <div id='homepageText'>
      <h1 id='howItWorks'>How it works!</h1>
      <p id='info'>JANoodle is a web app for scheduling and planning events. You start by naming this event, then you tell your friends who's running the event and where it is.  You can send your friends multiple options of dates/times for this event, send them the link to your page and they get to choose what dates work best for them.</p>
    </div>
</body>

</html>
