<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="JANoodle" content="an app for scheduling events">
  <meta name="author" content="Jeff Tang, Abraham Prince, Noah Birenbaum">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS files -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- Javascript files-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>JANoodle!</title>
</head>
<body>
  <section class="hero is-info is-fullheight">
    <header class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <h1 class="title">JANoodle</h1>
          </div>
        </div>
      </nav>
    </header>
   <div class="hero-body">
 <div class="container has-text-centered">
        <div class="column is-8 is-offset-2">
          <div class="box">
              <form action="/create" method="POST">
                <div class="control field is-grouped">
                <input class="input is-bordered is-medium " id='eventName' placeholder='What are you planning?' required name="eventTitle">
              </div>
                <div class="control has-text-centered">
                <button class="button is-primary is-medium center " type="submit" id="poll">Make Poll</button>
              </div>
              </form>
          </div>
        </div>
      </div>
    </div>


</html>