@import "node_modules/bulma/sass/utilities/initial-variables";

@import "node_modules/bulma/bulma";


@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Roboto);


body {
  text-align: center;
  // margin: 0 auto;
  // color: #363636;
  font-family: Nunito, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 1.25em;
}

span#availNumber {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

input.forms {
  font-weight: normal;
  font-size: 75%;
  margin: 2% 2% 0% 2%;
  border-radius: 5px;
  border: solid lightgray;
  width: 95%;
}

button.submit {
  margin: 2% 2%;
  float: right;
}

.table td {
  vertical-align: middle;
}

td {
  font-weight: bold;
}

tr#slideme {
  display: none;
  padding: 0;
}

td#totalCounter{
  padding: 0;
}

td#dateString {
  font-size: 80%;
}

td .fa-trash-alt {
  float: right;
  display: none;
}

td:hover .fa-trash-alt {
  display: block;
  opacity: 0.75;
  margin-top: 1%;
}
